.searchContainer {
  margin-bottom: 0;
}

.searchInput {
  width: 100%;
  max-width: 250px;
  background-color: #252525;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  padding: 12px 16px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 15px;
  font-weight: 700;
  transition: border-color 0.2s;
}

.searchInput::placeholder {
  color: #6b7280;
}

.searchInput:focus {
  outline: none;
  border-color: #8b5cf6;
}

@media (max-width: 768px) {
  .searchContainer {
    width: 100%;
    padding: 17px 0;
  }
  .searchInput {
    max-width: 100%;
  }
}
