.filtersContainer {
  margin-bottom: 24px;
  background: #252525;
  border-radius: 10px;
  padding: 14px 24px;
}

.filtersRow {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
}

.clearButton {
  color: #ff265d;
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: auto;
}

@media (max-width: 768px) {
  .filtersContainer {
    background: none;
    padding: 0;
  }
  .filtersRow {
    flex-wrap: wrap;
    align-items: stretch;
  }

  .clearButton {
    margin-left: 0;
    width: fit-content;
  }
}
