.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigationBtns {
  display: flex;
  gap: 8px;
  padding-bottom: 8px;
  flex-wrap: wrap;
}

.navButton {
  background-color: #252525;
  border: none;
  border-radius: 11px;
  padding: 16px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.navButton:hover {
  background-color: #374151;
}

.navButton.active {
  background-color: #501fe2;
}

.navButton.active:hover {
  background-color: #7c3aed;
}

@media (max-width: 768px) {
  .navigation {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
  }
  .navigationBtns {
    padding-bottom: 17px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .navButton {
    width: fit-content;
  }
}
